
{% set component_block_id = fields.component_block_id %}
{% set component_block_class = fields.component_block_class %}


{% set testimonials_1_background_color = fields.testimonials_1_background_color %}
{% set testimonials_1_section_title = fields.testimonials_1_section_title %}
{% set testimonials_1_section_title_color = fields.testimonials_1_section_title_color %}
{% set testimonials_1_sections = fields.testimonials_1_sections %}

{% set testimonials_1_button_label = fields.testimonials_1_button_label %}
{% set testimonials_1_button_url = fields.testimonials_1_button_url %}
{% set testimonials_1_button_color = fields.testimonials_1_button_color %}

            <section {% if component_block_id != '' %} id="{{ component_block_id }}" {% endif %} class="{{ component_block_class }} bg-{{ get_color(testimonials_1_background_color, 'slate-50') }} block-content-testimonials-1">

                <div class="max-w-6xl px-4 mx-auto sm:px-6">
                    <div class="py-12 md:py-20">

                        {% if testimonials_1_section_title != '' %}
                        <div data-aos="fade-up" class="max-w-3xl pb-12 mx-auto text-center md:pb-20">
                            <h2 class="h3 text-{{ get_color(testimonials_1_section_title_color, 'slate-800') }} ">
                                {{ testimonials_1_section_title }}
                            </h2>
                        </div>
                        {% endif %}

                        {% if testimonials_1_sections|length > 0 %}

                        <div class="grid items-start max-w-sm gap-12 mx-auto mb-12 sm:max-w-none sm:grid-cols-2 md:grid-cols-3 sm:gap-x-6 sm:gap-y-8 md:mb-16" data-aos-id-testimonials>

                            {% for item in testimonials_1_sections %}

                            {% set testimonials_1_image = item.testimonials_1_image %}
                            {% set testimonials_1_title = item.testimonials_1_title %}
                            {% set testimonials_1_description = item.testimonials_1_description %}
                            {% set testimonials_1_is_trustpilot = item.testimonials_1_is_trustpilot %}
                            {% set testimonials_1_url = item.testimonials_1_url %}

                            {% set index = index + 1 %}

                            <article class="flex flex-col h-full p-6 bg-white shadow-xl" data-aos-anchor="[data-aos-id-testimonials]" data-aos="fade-up" data-aos-delay={{ index * 100 }} >
                                <header>
                                    <div class="flex items-center mb-4">
                                        <div class="relative mr-3">
                                            <img class="block object-cover object-center h-12 rounded-full max-w-12 min-h-12 max-h-12 min-w-12 shrink-0 onLazyLoad" data-src="{{ _get_img(testimonials_1_image, 'src') }}" alt="{{ _get_img(testimonials_1_image, 'alt') }}" />
                                            <div class="absolute top-0 right-0 -mr-2" aria-hidden="true">
                                                <svg class="fill-blue-600" width="20" height="16" viewBox="0 0 20 16">
                                                    <path d="M2.76 16c2.577 0 5.154-3.219 5.154-5.996 0-1.357-.613-2.272-1.748-2.272s-2.27.726-3.283 1.64C3.16 6.439 5.613 3.346 9.571.885L9.233 0C3.466 2.903 0 7.732 0 12.213 0 14.517.828 16 2.76 16Zm10.43 0c2.577 0 5.154-3.219 5.154-5.996 0-1.357-.614-2.272-1.749-2.272-1.135 0-2.27.726-3.282 1.64.276-2.934 2.73-6.027 6.687-8.488L19.663 0c-5.767 2.903-9.234 7.732-9.234 12.213 0 2.304.829 3.787 2.761 3.787Z" />
                                                </svg>
                                            </div>
                                        </div>

                                        <h3 class="text-base font-bold leading-normal">
                                            {% if testimonials_1_url != '' %}
                                            <a class="leading-normal trans hover:text-emerald-500"  href="{{ testimonials_1_url }}">
                                                {{ testimonials_1_title }}
                                            </a>
                                            {% else %}
                                            {{ testimonials_1_title }}
                                            {% endif %}
                                        </h3>

                                    </div>
                                </header>
                                <div class="mb-8 grow">
                                    <div class="text-sm leading-snug text-slate-600">
                                        {{ testimonials_1_description }}
                                    </div>
                                </div>

                                {% if testimonials_1_is_trustpilot == 1 %}

                                <footer class="flex flex-row space-x-2">

                                <img class="w-auto h-5 onLazyLoad" data-src="{{ server_uri }}/assets/images/src/images/stars-5.png" alt="trustpilot stars">

                                <a class="text-xs text-gray-500 trans hover:text-emerald-500" href="{{ testimonials_1_url }}">
                                    Ver en Trustpilot
                                </a>

                                </footer>
                                   {% endif %}
                            </article>

                              {% endfor %}

                        </div>
                             {% endif %}

                        {% if testimonials_1_button_label != '' %}
                            <div class="text-center" data-aos="fade-up" data-aos-delay={{ testimonials_1_sections|length * 100 }} >
                                {% include "components/common/Button.twig" with {
                                    'text': testimonials_1_button_label,
                                    'path': testimonials_1_button_url,
                                    'type': testimonials_1_button_color
                                    }
                                %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </section>