

{% set component_block_id = fields.component_block_id %}
{% set component_block_class = fields.component_block_class %}


{% set article_cards_1_background_color = fields.article_cards_1_background_color %}
{% set article_cards_1_background_type = fields.article_cards_1_background_type %}

{% set article_cards_1_title = fields.article_cards_1_title %}
{% set article_cards_1_title_color = fields.article_cards_1_title_color %}
{% set article_cards_1_sections = fields.article_cards_1_sections %}
{% set article_cards_1_group_title_color = fields.article_cards_1_group_title_color %}
{% set article_cards_1_group_description_color = fields.article_cards_1_group_description_color %}


    <section {% if component_block_id != '' %} id="{{ component_block_id }}" {% endif %} class="{{ component_block_class }} relative block-content-article-cards-1">

                {% set bg = (article_cards_1_background_color != '')? article_cards_1_background_color : 'slate-900' %}

                <div class="absolute inset-0 bg-{{ bg }} pointer-events-none -z-10
                      {% if article_cards_1_background_type == 'inclined' %}
                      [clip-path:polygon(0_0,_5760px_0,_5760px_calc(100%_-_352px),_0_100%)] h-96 md:h-auto md:mb-64
                    {% endif %} " aria-hidden="true"></div>


                <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
                    <div class="py-12 md:py-20">

                        {% if article_cards_1_title != '' %}
                        <div data-aos="fade-up" class="max-w-3xl pb-12 mx-auto text-center md:pb-20">
                            <h2 class="h3 text-{{ get_color(article_cards_1_title_color, 'slate-100') }} ">
                            {{ article_cards_1_title }}
                            </h2>
                        </div>
                        {% endif %}

                        {% if article_cards_1_sections|length > 0 %}
                        <div class="grid items-start max-w-sm gap-12 mx-auto md:max-w-none md:grid-cols-3 md:gap-x-10 md:gap-y-10">

                            {% for item in article_cards_1_sections %}

                            {% set article_cards_1_tag = item.article_cards_1_tag %}
                            {% set article_cards_1_title = item.article_cards_1_title %}
                            {% set article_cards_1_description = item.article_cards_1_description %}
                            {% set article_cards_1_url = item.article_cards_1_url %}
                            {% set article_cards_1_image = item.article_cards_1_image %}

                            {% set index = index + 1 %}

                            <article data-aos="fade-up" data-aos-delay={{ index * 100 }} >
                                <a class="relative block mt-8 mb-4 group" {% if article_cards_1_url != '' %} href="{{ article_cards_1_url }}" {% endif %}
                                >
                                    <div class="absolute inset-0 transition duration-300 ease-out translate-x-4 -translate-y-4 border-2 pointer-events-none border-slate-500 opacity-20 group-hover:translate-x-0 group-hover:translate-y-0 -z-10" aria-hidden="true"></div>
                                    <div class="overflow-hidden">
                                        <img class="object-cover w-full transition duration-700 ease-out aspect-square group-hover:scale-105 onLazyLoad" width="342" height="342" data-src="{{ _get_img(article_cards_1_image, 'src') }}" alt="{{ _get_img(article_cards_1_image, 'alt') }}" />
                                    </div>
                                    <div class="absolute flex items-center self-center justify-center p-2 text-white rounded-full min-w-10 min-h-10 h-fit bg-gradient-to-b from-blue-500 to-blue-600 -top-8 left-8">
                                        <span class="block m-auto leading-normal w-fit h-fit">
                                        {{ article_cards_1_tag }}
                                        </span>
                                    </div>
                                </a>
                                <h3 class="mb-2 h4 ">
                                    <a class=" hover:underline hover:decoration-blue-100 text-{{ get_color(article_cards_1_group_title_color, 'blue-800') }}"
                                    {% if article_cards_1_url != '' %} href="{{ article_cards_1_url }}" {% endif %}>
                                    {{ article_cards_1_title }}
                                    </a>
                                </h3>
                                <div class="text-lg
                                text-{{ get_color(article_cards_1_group_description_color, 'slate-500') }} ">
                                    {{ article_cards_1_description }}
                                </div>
                            </article>

                            {% endfor %}

                        </div>
                        {% endif %}


                    </div>
                </div>
            </section>