
{% set cta_1_background_color = fields.cta_1_background_color %}
{% set cta_1_background_type = fields.cta_1_background_type %}
{% set cta_1_title = fields.cta_1_title %}
{% set cta_1_title_color = fields.cta_1_title_color %}
{% set cta_1_subtitle = fields.cta_1_subtitle %}
{% set cta_1_subtitle_color = fields.cta_1_subtitle_color %}
{% set cta_1_enable_buttons = fields.cta_1_enable_buttons %}
{% set cta_button_1_label = fields.cta_button_1_label %}
{% set cta_button_1_url = fields.cta_button_1_url %}
{% set cta_button_1_color = fields.cta_button_1_color %}
{% set cta_button_2_label = fields.cta_button_2_label %}
{% set cta_button_2_url = fields.cta_button_2_url %}
{% set cta_button_2_color = fields.cta_button_2_color %}

<section class=" bg-{{ get_color(cta_1_background_color, 'white') }} block-cta-texts-btn-1
     {% if cta_1_background_type == 'inclined' %}
            [clip-path:polygon(0_0,_5760px_0,_5760px_calc(100%_-_352px),_0_100%)]
        {% endif %}
">
    <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
        <div class="py-12 md:py-20">
            <div class="relative max-w-3xl mx-auto text-center">

                <div
                data-aos="fade-in"
                class="relative space-y-8">
                    {% if cta_1_title != '' %}
                    <h2 class="leading-normal h2
                        text-{{ get_color(cta_1_title_color, 'slate-800') }}
                    ">
                        {{ cta_1_title }}
                    </h2>
                    {% endif %}
                    {% if cta_1_subtitle != '' %}
                    <div class="text-xl leading-normal
                        text-{{ get_color(cta_1_subtitle_color, 'slate-500') }}
                    ">
                        {{ cta_1_subtitle }}
                    </div>
                    {% endif %}
                    {% if cta_1_enable_buttons == 1 %}
                     <div
                        class="justify-center max-w-xs mx-auto space-y-4 sm:max-w-none sm:flex sm:space-y-0 sm:space-x-4">
                         {% if cta_button_1_label != '' %}
                        <div>
                            {% include "components/common/Button.twig" with {
                                'text': cta_button_1_label,
                                'type': cta_button_1_color,
                                'path': cta_button_1_url
                                }
                            %}
                        </div>
                        {% endif %}
                        {% if cta_button_2_label != '' %}
                        <div>
                           {% include "components/common/Button.twig" with {
                                'text': cta_button_2_label,
                                'type': cta_button_2_color,
                                'path': cta_button_2_url
                                }
                            %}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
